.color-midnight {
  color: $midnight;
}

.color-white {
  color: white;
}

.color-bluel {
  color: #6097c3;
}

.smaller {
  font-size: .87em;
}

.text-uppercase {
  text-transform: uppercase;
}

.no-margin {
  margin: 0;
}
