.copy {
  background: $blue-charcoal;
  color: white;
  font-size: 13px;
  line-height: 2rem;

  a {
    color: white;
  }

  p {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

}
