.header-bar {
  @include transition(all .3s ease);
  height: 80px;
  left: 0;
  line-height: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;

  @include mediaquery($medium-breakpoint) {
    display: none;
  }

  a {
    @include transition(all .3s ease);
    color: white;
  }

  .site-logo {
    font-size: 3rem;
    line-height: 80px;

    span {
      line-height: 0;
    }
  }

  .toggle-menu {
    float: right;
    font-size: 2rem;
    font-size: 1.5rem;
  }

  &.white {
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    a {
      color: #061d3e;
    }
  }

}
