@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?wla4mq');
  src:url('../fonts/icomoon.eot?wla4mq#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?wla4mq') format('truetype'),
      url('../fonts/icomoon.woff?wla4mq') format('woff'),
      url('../fonts/icomoon.svg?wla4mq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  @extend %better-font-rendering;
}

.icon-logo:before {
  content: "\e80f";
}
.icon-close:before {
  content: "\e80d";
}
.icon-hamburger:before {
  content: "\e80e";
}
.icon-pyme-alt:before {
  content: "\e802";
}
.icon-pyme:before {
  content: "\e803";
}
.icon-educacion-alt:before {
  content: "\e804";
}
.icon-residencial-alt:before {
  content: "\e805";
}
.icon-corporativo-alt:before {
  content: "\e807";
}
.icon-gobierno-alt:before {
  content: "\e808";
}
.icon-educacion:before {
  content: "\e809";
}
.icon-residencial:before {
  content: "\e80a";
}
.icon-corporativo:before {
  content: "\e80b";
}
.icon-gobierno:before {
  content: "\e80c";
}
.icon-up:before {
  content: "\e800";
}
.icon-search:before {
  content: "\e801";
}
.icon-small-right:before {
  content: "\e806";
}
