.search-box {
  display: inline-block;
  margin-top: 1rem;
  max-width: 450px;
  width: 100%;

  @include mediaquery($small-breakpoint) {
    max-width: 75%;
  }

  @include element(title) {
    font-size: 27px;
    @include mediaquery($small-breakpoint) {
      font-size: 18px;
      position: absolute;
      top: -.5rem;
      text-align: center;
      left: 0;
      right: 0;
    }
  }

}
