.types {
  font-size: 12px;
  margin-bottom: 0;
  text-transform: uppercase;

  @include mediaquery($small-breakpoint) {
    padding-top: 2rem;
  }

  @include element(item) {
    display: inline-block;
    margin: 0;
    padding-left: .5rem;
    padding-right: .5rem;

    a {
      display: block;
      color: white;
    }

  }

  [class^="icon"] {
    @include transition(all .3s linear);
    display: block;
    font-size: 3.5rem;
    margin-bottom: .5rem;
  }

  .slick-dots {
    margin: 0;
    position: static;

    @include mediaquery($small-breakpoint) {
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: left;
    }

    li {
      font-size: 12px;
      height: auto;
      margin: 0 .5rem;
      vertical-align: bottom;
      width: auto;

      @include mediaquery($small-breakpoint) {
        @include transform(scale(.8));
        margin: 0;
        text-align: center;
        width: 33.333%;
      }

    }
  }

  .slick-active {
    [class^="icon"] {
      font-size: 4rem;
    }
  }


}
